body {

    font-family: texto, sans-serif;
    background-color: var(--colorFondo);
    font-weight: 600;
    color: var(--colorText);
    font-size: 18px;
    cursor: default;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s;
}

a:hover {
    color: var(--colorText);
}

option {
    margin: 0;
    padding: 0 10px;
}

/*----------------------------------------------------------*/
header {
    position: fixed;
    top: 0;
    width: 100vw;
    min-width: 530px;
    background-color: var(--colorFondo);
    height: 90px;
    font-weight: 100;
    font-size: 40px;
    color: var(--colorText);
    font-family: titulo;
    box-shadow: #ccc 4px 4px 4px;
    text-align: center;
    z-index: 100;
}

header>div {
    letter-spacing: .1em;
    margin-top: 30px;
}

#fecha, #idioma {
    font-family: texto;
    letter-spacing: .1em;
    text-transform: uppercase;
    position: absolute;
    font-size: 12px;
    color: var(--colorText);
    font-weight: 900;
    top: -20px;
}

#fecha {
    left: 20px;
}

#idioma {
    /*display: none;*/
    top: 10px;
    right: 40px;
    border: none;
}


/*----------------------------------------------------------*/

#lateral {
    position: absolute;
    padding-bottom: 60px;
    top: 90px;
    width: 400px;
    background-color: var(--colorFondo2);
    border-bottom-right-radius: 50px;
}

#lateral>img {
    width: 320px;
    height: 320px;
    margin: 30px;
}

#lateral>h1 {
    color: var(--colorText2);
    padding: 20px;
    font-size: 18px;
    letter-spacing: .1em;
}


#lateral>div {
    padding: 6px 60px;
    font-size: 14px;
}

#lateral>div>h1, #lateral>div>a>h1 {
    display: inline;
    font-size: 18px;
}

#lateral>div>a>h1>span {
    font-size: 14px;
}

#lateral>div>a>h1>img, #lateral>div>h1>img {
    padding-right: 20px;
}

#lateral>div>h2 {
    display: inline;
    font-size: 16px;
    color: var(--colorText);
}

#lateral>div>p {
    font-size: 15px;
    font-weight: 100;
    color: var(--colorText);
}

#lateral>hr {
    background-color: var(--color4);
    height: 4px;
    border: none;
    margin: 20px 60px 10px 60px;
    width: calc(100% - 120px);
}

/*----------------------------------------------------------*/

#cuerpo {
    position: absolute;
    top: 120px;
    left: 400px;
    width: calc(100vw - 400px);
    overflow: hidden;
    overflow-y: scroll;
    color: #000;
    height: auto;
}

#cuerpo>hr {
    margin-left: 60px;
    width: calc(100% - 120px);
}

#cuerpo>h1 {
    padding: 20px 60px 10px 60px;
    font-size: 26px;
    letter-spacing: .1em;
}

#cuerpo>div {
    padding: 20px 60px;
    font-size: 15px;
}

#cuerpo>div>h1 {
    font-size: 18px;
}

#cuerpo>div>h2 {
    font-size: 16px;
    color: var(--colorText);
}

#cuerpo>div>h2>span {
    font-size: 12px;
    color: var(--colorText);
}

#cuerpo>div>p {
    font-size: 15px;
    font-weight: 100;
    color: var(--colorText);
}

/*----------------------------------------------------------*/