@font-face {
    font-family: logo;
    src: url("fuentes/VINERITC.TTF");
}

@font-face {
    font-family: titulo;
    src: url("fuentes/ubuntu.woff");
}

@font-face {
    font-family: texto;
    src: url("fuentes/segoe.ttf");
}

:root {

    --color2: rgb(194, 138, 79);
    --color3: rgb(79, 108, 194);
    --color4: rgba(0, 0, 0, 0.1);
    --colorFondo: #fff;
    --colorFondo2: #d3eee1;
    --colorText: #888;
}

* {
    margin: 0px;
    padding: 0px;
}