header {
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 530px;
    background-color: var(--colorFondo);
    height: 200px;
    font-weight: 100;
    font-size: 70px;
    color: var(--colorText);
    font-family: titulo;
    box-shadow: none;
    text-align: center;
}

header>div {
    margin-top: 70px;
    font-size: 70px;

}
#idioma {
    font-size: 30px;
    margin-top: 6px;
}
#fecha {
    font-size: 20px;
    margin-top: 20px;
}

#lateral {
    position: static;
    padding-bottom: 60px;
    margin-top: 300px;
    width: 80%;
    padding: 0 10% 200px 10%;
    background-color: var(--colorFondo2);
    border-bottom-right-radius:0;
    box-shadow: none;
    zoom:0.7;
}

#lateral>img {
    width: 500px;
    height: 500px;;
    margin-left:calc(50% - 250px);
}

#cuerpo {
    position: static;
    margin: 120px 0;
    left: 400px;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    color: #000;
    height: auto;
    z-index: 2;
    font-size: 10px;
}